[Desktop Entry]
Name=BoilerRoom
Comment=Steam Deck game manager
Exec=boilerroom
Icon=com.boilerroom.app
Terminal=false
Type=Application
Categories=Utility;Game;
Keywords=Steam;Deck;Games;Manager;
