[Desktop Entry]
Name=TonTonDeck
Comment=Manager pakietów dla Steam Deck
Exec=tontondeck
Icon=com.tontondeck.app
Terminal=false
Type=Application
Categories=Utility;Game;
Keywords=Steam;Deck;Games;Manager;
